<div class="container-fluid">
  <div class="mt-3 row">
      <mat-card class="card-size">
          <div class="list-group w-100 text-center">
              <div class="bg-danger text-white card-header text-center font-weight-bold">後台操作</div>
              <button routerLink="/admin/addCourse" routerLinkActive="active" type="button" class="list-group-item list-group-item-light">新增課程</button>
              <button routerLink="/admin/editCourse" routerLinkActive="active" type="button" class="list-group-item list-group-item-light">編輯課程</button>
              <button routerLink="/admin/approval" routerLinkActive="active" type="button" class="list-group-item list-group-item-light">簽核系統</button>
              <button routerLink="/none" routerLinkActive="active" type="button" class="list-group-item list-group-item-light">教師資訊</button>
          </div>
      </mat-card>
      <mat-card class="card-size">
          <div class="list-group w-100 text-center">
            <div class="bg-danger text-white card-header text-center font-weight-bold">常用連結</div>
            <button type="button" class="list-group-item list-group-item-light">課程地圖</button>
            <button type="button" class="list-group-item list-group-item-light">學生系統</button>
            <button type="button" class="list-group-item list-group-item-light">課程大綱</button>
          </div>
      </mat-card>
      <mat-card class="card-size">
          <div class="bg-danger text-white card-header text-center font-weight-bold">個人資料</div>
          <div class="card-body">
              <div class="ml-3">
                <h6 class="mb-3">代號：{{user['studentID']}}</h6>
                <h6 class="mb-3">姓名：{{user['studentName']}}</h6>
                <h6 class="mb-3">身分：{{user['classLevel']}}</h6>
                <h6>學期：106-1</h6>
              </div>
          </div>
      </mat-card>

</div>
