<div class="container-fluid">
  <div class="row">
      <mat-card class="mt-3 w-100 p-0">
          <div class="list-group w-100 text-center">
              <div class="bg-info text-white card-header text-center font-weight-bold">開始選課</div>
              <div class="card-body card-padding">
                  <form class="d-flex flex-row justify-content-around align-content-between"
                      [formGroup]="courseForm">
                    <div class="form-position d-flex flex-row justify-content-around align-items-baseline align-content-between flex-nowrap">
                      <mat-form-field class="main">
                          <mat-select formControlName="college" placeholder="學院" [(value)]="selected" (click)="onOpen()">
                            <mat-option *ngFor="let row of mainService.CollegeList" [value]="row.college">
                              {{row.college}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field class="main">
                          <mat-select formControlName="department" placeholder="系所">
                            <div *ngFor="let rows of mainService.CollegeList;">
                              <div *ngIf="rows.college === selected">
                                  <mat-option  *ngFor="let row of rows.dep" [value]="row.sim_department">
                                      {{row.department}}
                                    </mat-option>
                              </div>
                            </div>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field class="main">
                          <mat-select formControlName="level" placeholder="年級">
                              <mat-option value="一">一年級</mat-option>
                              <mat-option value="二">二年級</mat-option>
                              <mat-option value="三">三年級</mat-option>
                              <mat-option value="四">四年級</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field class="main">
                          <mat-select formControlName="require" placeholder="修別">
                            <mat-option value="不拘">不拘</mat-option>
                            <mat-option value="必修">必修</mat-option>
                            <mat-option value="選修">選修</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <button mat-raised-button
                              class="ml-2"
                              color="warn"
                              (click)="onSearch()">查詢</button>

                  </div>
                </form>
              </div>
          </div>
      </mat-card>
  </div>
  <div class="row">
    <div class="w-100 mt-3 mat-elevation-z8">
        <mat-paginator #paginator
                       [pageSize]="8">
        </mat-paginator>
        <div *ngIf="isDialogDisplay" [ngClass]="{'alert-success':isSelectSuccess , 'alert-danger':!isSelectSuccess}" class="m-0 alert w-100" role="alert">
            <i [ngClass]="{'fa-check-circle':isSelectSuccess, 'fa-exclamation-triangle':!isSelectSuccess}" class="fa" aria-hidden="true"></i>
            <strong>{{isSelectSuccess ? '選課成功' : '選課錯誤：'}}{{isSelectSuccess ? '' : message}}</strong>
        </div>

      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef> 課程代碼 </mat-header-cell>
          <mat-cell id="code_{{i}}" *matCellDef="let element;let i = index">{{element.code}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> 課程名稱 </mat-header-cell>
          <mat-cell  *matCellDef="let element;"> {{element.courseName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef> 上課時段 </mat-header-cell>
          <mat-cell  *matCellDef="let element;"> {{element.time}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="site">
          <mat-header-cell *matHeaderCellDef> 上課地點 </mat-header-cell>
          <mat-cell  *matCellDef="let element;"> {{element.site}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="teacher">
          <mat-header-cell *matHeaderCellDef> 授課教師 </mat-header-cell>
          <mat-cell  *matCellDef="let element;"> {{element.teacherName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell (click)="openDialog(i)" *matCellDef="let element;let i = index;">
            <button  mat-icon-button color="accent">
              <mat-icon>addbox</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


    </div>
  </div>
</div>
