<div class="container-fluid">
  <div class="mt-3 row">
      <mat-card class="card-size">
          <div class="list-group w-100 text-center">
              <div class="bg-info text-white card-header text-center font-weight-bold">選課系統</div>
              <button routerLink="/users/select" routerLinkActive="active" type="button" class="list-group-item list-group-item-light">開始選課</button>
              <button routerLink="/users/unenroll" routerLinkActive="active" type="button" class="list-group-item list-group-item-light">課程退選</button>
              <button routerLink="/users/courseList" routerLinkActive="active" type="button" class="list-group-item list-group-item-light">選課清單</button>
              <button routerLink="/users/courseTable" routerLinkActive="active" type="button" class="list-group-item list-group-item-light">個人課表</button>
          </div>
      </mat-card>
      <mat-card class="card-size">
          <div class="list-group w-100 text-center">
            <div class="bg-info text-white card-header text-center font-weight-bold">常用連結</div>
            <button type="button" class="list-group-item list-group-item-light">課程地圖</button>
            <button type="button" class="list-group-item list-group-item-light">學生系統</button>
            <button type="button" class="list-group-item list-group-item-light">課程大綱</button>
          </div>
      </mat-card>
      <mat-card class="card-size">
          <div class="bg-info text-white card-header text-center font-weight-bold">個人資料</div>
          <div class="card-body">
              <div class="ml-3">
                <h6 class="mb-3">學號：S10455001</h6>
                <h6 class="mb-3">姓名：李文丁</h6>
                <h6 class="mb-3">班級：數位三</h6>
                <h6>學期：106-1</h6>
              </div>
          </div>
      </mat-card>

</div>
